#chat-screen {
  background-color: #abc1d1;
  height: 500vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #abc1d1;
}
#chat-screen .status-bar {
  z-index: 1;
}
#chat-screen .alt-header {
  top: 10px;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.8s linear;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  text-align: center;
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 25px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message__author {
  margin-bottom: 5px;
  display: block;
}

.message__bubble {
  background-color: white;
  padding: 13px;
  font-size: 18px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 8px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__author,
.message__time {
  opacity: 0.8;
  font-size: 14px;
}

.message-row__own {
  justify-content: flex-end;
}

.message-row__own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0;
  border-top-left-radius: 15px;
  margin-right: 0px;
  margin-left: 8px;
}

/*
.message-row__own .message__bubble {
  order: 1;
}
.message-row__own .message__time {
  order: 0;
} 
이상은 코드가 길어. 아래 row-reverse로 해도 같은 결과.
*/
.message-row__own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply i {
  opacity: 0.5;
}

.reply input {
  padding: 17px;
  height: 30px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 3px;
  top: 3px;
}

.reply__column:last-child > i {
  right: 50px;
  top: 10px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}


.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
 transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width:95vw;
  transform:translateX(-12%) translateY(-80px);
}

.reply:focus-within{
  transform: translateY(80px);
}