.badge {
  background-color: tomato;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.badge-dot {
  background-color: tomato;
  border-radius: 50%;
  width: 7px;
  height: 7px;
}
